.main {
  min-height: 100vh;
}

.navBarBG {
  width: 100%;
  height: 112px;
  background: linear-gradient(180deg, #404040 0%, #1e1e1e 46.43%, #000000 100%);
}
.NavBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
  margin: auto;
}
.NavBar ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1em;
}

.NavBar ul li {
  list-style: none;
  /* font-family: Josefin Sans; */
  font-size: 16px;
  font-weight: 700;
  line-height: 16px;
  text-align: left;
  color: #b0b0b0;
}

.NavBar button {
  background-color: transparent;
  border: 2px solid #f8d504;
  width: 170px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 16px;
  text-align: left;
}

.home {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(../public/bgg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 90vh;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.home h2 {
  font-size: 80px;
  font-weight: 600;
  line-height: 80px;
  text-align: center;
  margin-bottom: 0.5em;
}
.home h2 span {
  color: rgba(248, 213, 4, 1);
}
.home p {
  font-size: 32px;
  font-weight: 400;
  line-height: 32px;
  text-align: center;
  color: rgba(176, 176, 176, 1);
  margin-bottom: 1.3em;
}

.home > div {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5em;
}

.home > div button {
  border: 2px solid rgba(248, 213, 4, 1);
  width: 215px;
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  font-weight: 500;
  line-height: 20px;
  text-align: left;
  color: rgba(248, 213, 4, 1);
  background-color: transparent;
}

.home > div p {
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.5px;
  text-align: left;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5em;
  color: rgba(248, 213, 4, 1);
  margin: 0;
}

.key {
  padding: 3em 0;
  background-color: rgba(18, 18, 18, 1);
}
.key h2 {
  font-size: 40px;
  font-weight: 700;
  line-height: 40px;
  text-align: center;
  margin: 2em 0;
}

.key h2 span {
  color: rgba(248, 213, 4, 1);
}

.keyOpt {
  max-width: 1200px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin: 2em auto 1em;
}

.optKey {
  width: 373px;
  height: 260px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: rgba(31, 31, 31, 1);
}
.opF {
  border: 1px solid rgba(255, 69, 0, 1);
}
.opS {
  border: 1px solid rgba(248, 213, 4, 1);
}
.opT {
  border: 1px solid rgba(30, 144, 255, 1);
}
.keyImg {
  width: 72px;
  height: 72px;
  border-radius: 100%;
  background-color: rgba(34, 34, 34, 1);
  margin: 1em 0 0.8em;
  display: flex;
  align-items: center;
  justify-content: center;
}
.optKey h3 {
  font-size: 20px;
  font-weight: 500;
  line-height: 20px;
  text-align: center;
  margin-bottom: 0.5em;
}

.optKey p {
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  text-align: center;
  color: rgba(176, 176, 176, 1);
}

.how {
  padding: 3em 0;
  background-color: rgba(18, 18, 18, 1);
}

.how h2 {
  font-size: 40px;
  font-weight: 700;
  line-height: 40px;
  text-align: center;
  margin-bottom: 2em;
}

.how h2 span {
  color: rgba(248, 213, 4, 1);
}
.howOpt {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 1000px;
  width: 100%;
  margin: auto;
  gap: 3em 0;
}
.optHow {
  width: 480px;
  height: 224px;
  padding: 2em 1em;
}
.howF {
  border: 1px solid rgba(255, 69, 0, 1);
}
.howS {
  border: 1px solid rgba(30, 144, 255, 1);
}
.howT {
  border: 1px solid rgba(30, 144, 255, 1);
}

.howFO {
  border: 1px solid rgba(255, 69, 0, 1);
}

.howTi {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin-bottom: 1em;
}

.howTi h3 {
  font-size: 24px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
}
.howImg {
  width: 64px;
  height: 64px;
  padding: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(31, 31, 31, 1);
}

.optHow p {
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  text-align: left;
  color: rgba(176, 176, 176, 1);
}

.contact {
  background-color: rgba(18, 18, 18, 1);
  padding: 2em 0;
}

.conMain {
  max-width: 1000px;
  margin: auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 590px;
}
.conTil {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  width: 400px;
  height: 80%;
}

.conFir {
}

.conTil .conFir h2 {
  font-family: Josefin Sans;
  font-size: 64px;
  font-weight: 700;
  line-height: 89.6px;
  text-align: right;
}

.conTil .conFir p {
  font-family: Josefin Sans;
  font-size: 64px;
  font-weight: 700;
  line-height: 89.6px;
  text-align: right;
  color: rgba(248, 213, 4, 1);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.conTil .conFir p .line {
  border: 1px solid rgba(248, 213, 4, 1);
  width: 60%;
}

.conTil p {
  font-size: 16px;
  font-weight: 400;
  line-height: 22.4px;
  text-align: center;
  color: rgba(176, 176, 176, 1);
}
.conTil span {
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  text-align: right;
  color: rgba(176, 176, 176, 1);
  display: flex;
  align-items: center;
  justify-content: center;
}

.conForm {
  width: 580px;
  height: 582px;
  box-shadow: -2px 2px 5px 2px rgba(248, 213, 4, 1);
  border: rgba(248, 213, 4, 1);
  padding: 1em 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.conFomm {
  width: 90%;
}

.inpput {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  margin-bottom: 1.4em;
}

.inpput label {
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
  color: rgba(255, 255, 255, 1);
}

.inpput input {
  border: 0.4px solid rgba(248, 213, 4, 1);
  width: 100%;
  height: 48px;
  padding: 12px;
}

.inpput textarea {
  height: 144px;
  width: 100%;
  border: 0.4px solid rgba(248, 213, 4, 1);
  padding: 12px;
}
.conFomm button {
  width: 100%;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(248, 213, 4, 1);
  font-size: 14px;
  font-weight: 500;
  line-height: 19.6px;
  text-align: left;
  border: none;
  outline: none;
  color: #000000;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(33, 33, 33, 1);
  height: 100px;
}

.footer p {
  /* font-family: Josefin Sans; */
  font-size: 16px;
  font-weight: 400;
  line-height: 22.4px;
  text-align: center;
  color: rgba(176, 176, 176, 1);
}
